<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="aplicaCssErro('nome')">
  
      <div class="col-sm-12">
        <label for="nome" class="control-label">Nome</label>
      </div>
  
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="nome" 
          id="nome" placeholder="Nome" >

          <campo-control-erro 
            [mostrarErro]="verificaValidTouched('nome')" 
            msgErro="Nome é obrigatório.">
          </campo-control-erro>
   
       </div>




    </div>
  
    <div class="form-group" [ngClass]="aplicaCssErro('nome')">
      <div class="col-sm-12">
        <label for="email" class="control-label">Email</label>
      </div>
      <div class="col-sm-12">
        <input type="email" class="form-control" formControlName="email"
          id="email" placeholder="nome@email.com" >

          <campo-control-erro 
            [mostrarErro]="verificaValidTouched('nome')" 
            msgErro="Email é obrigatório.">
          </campo-control-erro>

          <campo-control-erro 
            [mostrarErro]="verificaValidTouched('nome')" 
            msgErro="Email é Inválido.">
          </campo-control-erro>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!this.formulario.valid">Submit</button>
    <button  class="btn btn-secondary" (click)="cancelar()">Cancel</button>
  </form>

<app-form-debug [form]="formulario"></app-form-debug>
 
