<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">

    <div class="form-group col-12" 
        [ngClass]="aplicaCssErro(nome)">
        <div >
            <label for="nome" class="control-label">Nome</label>
            <input type="text" class="form-control" 
            id="nome" placeholder="Nome" name="nome" [ngModel]="usuario.nome"
            required #nome="ngModel"> 

            <campo-control-erro 
                [mostrarErro]="verificaCampoTouched(nome)"
                msgErro="Nome Obrigatório" >
            </campo-control-erro>
        </div>
    </div>

    <div class="form-group col-12">
        <div [ngClass]="aplicaCssErro(email)">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" 
                id="email" placeholder="nome@email.com" name="email" [ngModel]="usuario.email"
                required email #email="ngModel"> 
                
            <campo-control-erro 
                [mostrarErro]="verificaCampoTouched(email)"
                msgErro="email Obrigatório" >
            </campo-control-erro>
        </div>
    </div>





    <div class="row md-3" ngModelGroup="endereco">
        <div class="form-group col-md-3"
            [ngClass]="aplicaCssErro(cep)">
            
            <label for="cep" class="form-label">CEP</label>

            <input type="text" name="cep" id="cep" class="form-control"
            ngModel required  #cep="ngModel"
            (blur)="consultaCEP(this.cep.value)">  

            <campo-control-erro 
                [mostrarErro]="verificaCampoTouched(cep)"
                msgErro="cep Obrigatório" >
            </campo-control-erro>
        </div>

        <div class="form-group col-md-3"
            [ngClass]="aplicaCssErro(numero)">
            
            <label for="numero" class="form-label">Numero</label>
            <input type="text" name="numero" id="numero" class="form-control"
            ngModel required  #numero="ngModel">   
            
            <campo-control-erro 
                [mostrarErro]="verificaCampoTouched(numero)"
                msgErro="numero Obrigatório" >
            </campo-control-erro>           
        </div>


        <div class="form-group col-md-6"
            [ngClass]="aplicaCssErro(complemento)">

            <label for="complemento" class="form-label">Complemento</label>
            <input type="text" name="complemento" id="complemento" class="form-control"
            ngModel  #complemento="ngModel">
        </div>

        <div class="form-group col-sm-12"
            [ngClass]="aplicaCssErro(rua)">    

            <label for="rua" class="form-label">Rua</label>
            <input type="text" class="form-control" 
                id="rua" placeholder="nome@email.com" name="rua" 
                ngModel required email #rua="ngModel"> <!--ficar de olho-->
                
                <campo-control-erro 
                    [mostrarErro]="verificaCampoTouched(rua)"
                    msgErro="rua Obrigatório" >
                </campo-control-erro>            
        </div>


        <div class="form-group col-md-5"
            [ngClass]="aplicaCssErro(bairro)">

            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" name="bairro" id="bairro" class="form-control"
            ngModel required  #bairro="ngModel">
        
            <campo-control-erro 
                    [mostrarErro]="verificaCampoTouched(bairro)"
                    msgErro="bairro Obrigatório" >
                </campo-control-erro>
        </div>

        <div class="form-group col-md-4"
            [ngClass]="aplicaCssErro(cidade)">

            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" name="cidade" id="cidade" class="form-control"
            ngModel required  #cidade="ngModel">
        
                <campo-control-erro 
                    [mostrarErro]="verificaCampoTouched(cidade)"
                    msgErro="cidade Obrigatório" >
                </campo-control-erro>
        </div>

        <div class="form-group col-md-3"
            [ngClass]="aplicaCssErro(estado)">

            <label for="estado" class="form-label">Estado</label>
            <input type="text" name="estado" id="estado" class="form-control"
            ngModel required  #estado="ngModel">
        
                <campo-control-erro 
                    [mostrarErro]="verificaCampoTouched(estado)"
                    msgErro="estado Obrigatório" >
                </campo-control-erro>
        </div>

        <div class="col-12">
                <button type="submit" class="btn btn-primary col-rm-1 row mb-3" 
                [class.btn-outline-danger]="!f.valid"
                [class.botaozinho]="!f.valid"
                [disabled]="!f.valid">Submit</button> 
        </div>
</div>
    <app-form-debug [form]="f"></app-form-debug>
</form>



