<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="nome">Nome do Curso</label>
      <input
        type="text"
        class="form-control is-invalid"
        id="nome"
        placeholder="Nome do Curso"
        formControlName="nome"
        [ngClass]="{ 
      'is-invalid': !submitted && !errorExist('nome'),
      'is-valid': !submitted && errorExist('nome')
      }"/>
      <div class="invalid-feedback" *ngIf="typeError('nome', 'required')" >
        Por favor informe um nome para o curso.
      </div>
      <div class="invalid-feedback" *ngIf="typeError('nome', 'minlength')" >
        Nome precisa ter no mínimo 3 caracteres.
      </div>
      <div class="invalid-feedback" *ngIf="typeError('nome', 'maxlength')" >
        Nome precisa ter no máximo 25 caracteres.
      </div>
    </div>
  </div>
  <div>
    <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>