<div class="card mt-3">
  <div class="card-header">
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Curso</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td> {{ curso.id }}</td>
          <td> {{ curso.nome }} </td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" >
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" >
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
      <ng-template #loading>
        <span> Carregando Cursos...</span>
      </ng-template>
    </table>

    <ng-template #loading>
      <span>Carregando Cursos...</span>
    </ng-template>

    <!--ng-template #loadingError>
      <div *ngIf="error$ | async; else loading" >
        Erro ao carregar cursos. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
          <span>Carregando Cursos...</span>
      </ng-template>
    </ng-template -->
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse curso?</p>
    <button type="button" class="btn btn-default" >Sim</button>
    <button type="button" class="btn btn-primary" >Nao</button>
  </div>
</ng-template>